:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #101919;
  background-color: aliceblue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #88CCF1;
  text-decoration: underline;
}

a:hover {
  color: #BFDBF7;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: .5em 1em;
  font-family: inherit;
  background-color: #101919;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #BFDBFf;
}

input {
  background-color: aliceblue;
  border-top: #101919;
  border-left: #101919;
  border-right: #101919;
}