/*MultiPage*/
.title {
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}

/*browse*/
.browse input {
    padding-left: 1vw;
    padding-right: 39vw;
    height: 2em;
}

/*daily*/
.daily {
    text-align: center;
}

/*about*/
#about-1 {
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 5em;
}

#description {
    float: left;
    margin-right: 1em;
    border: 0.15em solid #101919;
}

#description-cont {
    height: 16em;
}